<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="titleText">Title</label>
    <input type="text" name="postText" id="titleText" class="form-control">
  </div>
  <div class="form-group">
    <label for="postName">Post</label>
    <textarea name="postBody" rows="8" cols="80" id="postName" class="form-control"></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-lg btn-primary">Publish</button>
</form>
<%- include("partials/footer") -%>
